{% extends 'SalleAdminBundle:Default:base.html.twig' %}

{% block content %}

<div class="mainmenu-wrapper">
	{% include 'SalleAdminBundle:Default:header.html.twig' with {'active' : 'radio'} %}
</div>


<!-- Footer -->
<div class="footer">
	{% include 'SalleAdminBundle:Default:footer.html.twig' %}
</div>

{% endblock %}