<div class="container">
	<div class="row">
		<div class="col-footer col-md-4 col-xs-6">
			<h3>Último comentario</h3>
			<p class="contact-us-details">
				"{{ last.comentario | truncate (235)}}"
			</p>
			<p class="pull-right"><b>{{ last.nombre }}</b></p>
		</div>

		<div class="col-footer col-md-5 col-xs-6">
			<h3>Contacto</h3>
			<p class="contact-us-details">
				<b>Radio La Salle Rimarinakusunchis.</b><br/>
				<b>Dirección:</b> Av. de los Incas s/n, Urubamba, Perú<br/>
				<b>Telefono:</b> 084-201410<br/>
				<b>Email:</b> <a href="mailto:webmaster@radiolasalle.com.pe">webmaster@radiolasalle.com.pe</a>
			</p>
		</div>
		<div class="col-footer col-md-3 col-xs-6">
			<h3>Redes sociales</h3>
			<ul class="footer-stay-connected no-list-style">
				<li><a href="https://www.facebook.com/pages/Radio-La-Salle-Urubamba/608805502466501" class="facebook" target="_blank"></a></li>
				<li><a href="#" class="twitter"></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="footer-copyright">&copy; 2014 Radio La Salle Rimarinakusunchis. Derechos Reservados.</div>
		</div>
	</div>
</div>