{% extends 'SalleAdminBundle:Front:base.html.twig' %}

{% block title %}Galeria{% endblock %}

{% block content %}

<div class="mainmenu-wrapper">
	{% include 'SalleAdminBundle:Front:header.html.twig' with {'active' : 'galeria'} %}
</div>


<!-- Footer -->
<div class="footer">
	{% include 'SalleAdminBundle:Front:footer.html.twig' %}
</div>

{% endblock %}