{% extends 'SalleAdminBundle:Front:base.html.twig' %}

{% block title %}Radio en vivo{% endblock %}

{% block content %}

<!-- Header -->
<div class="mainmenu-wrapper">
	{% include 'SalleAdminBundle:Front:header.html.twig' with {'active' : 'radio'} %}
</div>


<!-- Footer -->
<div class="footer">
	{% include 'SalleAdminBundle:Front:footer.html.twig' %}
</div>

{% endblock %}